spring:
  application:
    name: ribbon
server:
  port: 3001
eureka:
  client:
    defaultZone: http://eureka1:2001/eurekaï¼Œhttp://eureka2:2002/eureka 
ribbon:
  MaxAutoRetriesNextServer: 2
  MaxAutoRetries: 1
  OkToRetryOnAllOperations: true