spring:
  application:
    name: hystrix
server:
  port: 3001
eureka:
  client:
    defaultZone: http://eureka1:2001/eurekaï¼Œhttp://eureka2:2002/eureka 
ribbon:
  MaxAutoRetriesNextServer: 2
  MaxAutoRetries: 1
  OkToRetryOnAllOperations: true
  
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000
management:
  endpoints:
    web:
      exposure:
        include:  hystrix.stream